.footer{
    padding-bottom: 30px;
    background-color: #232323;
    justify-items: center;
    align-content: end;
    height: 270px;

     .footer-text{
        letter-spacing: 4px;

    }
    .header-logo{
        letter-spacing: 5px;
        line-height: 2px;

    }
    .icons{
        font-size: 20px;
        letter-spacing: 20px;
        line-height: 50px;
        }
    }

