// first section of grand spain-
.box {
    background-image: url(../images/Rectangle\ 41445.svg);
    height: 700px;
    background-repeat: no-repeat;
}

.country {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    transform: translate(200px, 250px);
    width: 400px;
    height: 300px;
    padding: 20px;
    font-family: "Josefin sans" sans-serif;
    color: #E8E8E8;
    font-size: 16px;
    line-height: 24px;
    gap: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 10px;
}

button {
    background-color: #496BFE;
    border: none;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    font-family: "aleo" sans-serif;
    text-align: center;

}

/*second section of grand spain*/
.box2 {
    background-image: url(../images/newimage.png);
    height: 700px;

}

.country2 {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    transform: translate(800px, 300px);
    width: 400px;
    height: 300px;
    padding: 20px;
    font-family: J"Josefin-sans" sans-serif;
    color: #E8E8E8;
    font-size: 16px;
    line-height: 24px;
    gap: 20px;
    letter-spacing: 1.2px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 10px;
}

button {
    background-color: #496BFE;
    border: none;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    text-align: center;
}