* {
margin :0;
padding:0;
box-sizing: border-box;
}
body{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:#FFFFFF;
}

//Main-section
.main{
    background-image: url(../images/header.png);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

//nav bar
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 10;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: #5474FD;
    color: #FFFFFF;
}