.tourist {
    background-image: url(../images/tourist.png);
    height: 700px;
}

h1 {
    color: #FFFFFF;
}

.text {
    text-align: center;
    padding: 40px;
}

.tourist-box {
    display: flex;
    align-content: center;
    justify-content: center;
    background: #333333;
    transform: translate(300px, 150px);
    width: 60%;
    height: 230px;
    font-family: "Josefin sans" sans-serif;
    color: #E8E8E8;
    font-size: 20px;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;

}

.tourist-text {
    display: flex;
}

p {
    margin-top: 20px;
}

.text-align {
    margin-top: 5px;
}