.hero{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    height: 100vh;
    padding: 55px;
    background-image: url(../images/Rectangle\ 41444.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


.content{
    width: 40%;

 h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    p{
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 15px;
    }

   .btn{
    display: inline-block;
    background-color: #5474FD;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: black 0.5s ease;

    &:hover{
        background-color:rgb(6, 6, 88);
    }
   }
}

.images{
    display: flex;
    flex-direction: column;
    gap: 7px;

    img{
        width:280px;
        border-radius: 5px;
        box-shadow: 40px;
    }

    .align{
        margin-left: 70px;
      }  
    }
}
//serch places section CSS-
.points{
    position: relative;
    display:flex;
    justify-content: center;
    padding: 30px;
    background-color:#333333;
 }

 .step-container{
    position: absolute;
    top:60px;
    width: 80%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
 }
 .step-container svg{
    width: 50%;
    height: 100px;
    overflow: visible;
 }

.step-flow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    z-index: 10;
 }
    .adjust{
        display: flex;
        justify-content: center;
        align-items: center;
        color:#FFFFFF
    }

    .step{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 150px;
        margin-bottom: 5px;
        border-radius: 50%;
    }
   .step p{
    font-family: "Aleo", serif;
    padding: 20px;
    font-weight: 180;
    font-size: 1rem;
    color: #FFFFFF;
   }

   .step img{
    height:40px;
    width: 40px;
   }