.hero{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    height: 100vh;
    padding: 55px;
    background-image: url(../images/Rectangle\ 41444.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content{
    width: 40%;
}