@import 'header';
@import 'whywe';
@import 'grandspain';
@import 'tourist';
@import 'footer';

//responsive design //
@media screen and (min-width:768px) and (max-width:1440px){
    body{
        text-align: none;
        flex-direction: column;

    }
}