* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #FFFFFF;
}

.main {
  background-image: url(../images/header.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #5474FD;
  color: #FFFFFF;
}

.mainlogo {
  font-family: "Josefin Sans" sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left: 5px;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.nav-links a:hover {
  cursor: pointer;
  color: rgb(10, 10, 183);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.main-section {
  margin-top: 10%;
  text-align: center;
}
.main-section h2 {
  font-size: 2rem;
  letter-spacing: 3px;
}
.main-section p {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.main-section .search {
  margin-top: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.main-section .search input {
  padding: 0.8rem 1rem;
  width: 400px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 3px 0 0 3px;
}
.main-section button {
  padding: 0.5rem 1.5rem;
  background-color: #5474FD;
  border: none;
  color: #FFFFFF;
  border-radius: 2px;
  height: 50px;
}
.main-section button:hover {
  background-color: rgb(64, 64, 79);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.scroll {
  list-style: none;
  text-decoration: none;
  margin-top: 10%;
  font-size: 0.8rem;
  letter-spacing: 1px;
  opacity: 90%;
}
.scroll a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.scroll a:hover {
  color: blue;
}

.hero {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  height: 100vh;
  padding: 55px;
  background-image: url(../images/Rectangle\ 41444.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .content {
  width: 40%;
}
.hero .content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.hero .content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.hero .content .btn {
  display: inline-block;
  background-color: #5474FD;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: black 0.5s ease;
  transition: black 0.5s ease;
}
.hero .content .btn:hover {
  background-color: rgb(6, 6, 88);
}
.hero .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.hero .images img {
  width: 280px;
  border-radius: 5px;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
}
.hero .images .align {
  margin-left: 70px;
}